body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #293038;
}

h4 {
  margin: 0;
  color: white;
}

h1 {
  color: white;
}

span {
  color: white;
}

label {
  font-size: 0.8rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#side {
  display: flex;
  width: 95%;
  margin: 1rem 0;
}

#side>* {
  margin: 0 0.5rem;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding:0.5rem;
  border-radius: 0.5rem;
}

label {
  text-align: left;
}

form>* {
  margin: 0.2rem 0;
}

#entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.33rem 0.7rem 0.33rem 0.7rem;
  background-color: #3a4653;
  height: 265px;
}

#entry>* {
  margin: 0 0 0.25rem 0;
}

table {
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0.2rem;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #3a4653;
  
}

button {
  margin: 0.5rem 0 0 0;
}

tbody{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 500px;
  margin: 0 0.5rem 1rem 0.5rem;
  border-radius: 0.5rem;
}

thead {
  margin: 0 0.5rem 0 0.5rem;
}

tr {
  display: flex;
}

th,td {
  padding: 4px;
  text-align: left;
  width: 100px;
  margin:0;
}


th {
  background-color: #3a4653;
  color: white;
}

td {
  font-size: 0.75rem;
}


tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

tr:first-child {
  flex: 3;
}

.first {
  flex: 1;
}

.last {
  flex: 1;
}

.email {
  flex: 2;
}

.title {
  flex: 2;
}

nav {
  margin: 1rem 0;
  width: 500px;
  display: flex;
  justify-content: space-around;
  background-color: #3a4653;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

nav>span:first-child {
  background-color: white;
}

nav>span:last-child {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

nav>span {
  width: 50px;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: lightgray;
}

.selected {
  background-color: #3a4653;
}

.selected>a {
  color: white
}