body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border: solid 2px black;
  border-radius: 0.5rem;
  padding: 0.2rem;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: lightslategray;
  
}

tbody{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 500px;
}

tr {
  display: flex;
}

th,td {
  padding: 4px;
  text-align: left;
  width: 100px;
  flex: 1;
  /* border: 1px solid black; */
  margin:0;
}

th {
  background-color: lightslategray;
}

td {
  font-size: 0.75rem;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

nav {
  margin: 1rem 0;
  width: 500px;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

nav>span {
  width: 50px;
  display: flex;
  justify-content: center;
  border: solid black 1px;
  border-radius: 0.5rem;
  background-color: lightgray;
}

.selected {
  background-color: lightslategray;
}

.selected>a {
  color: white
}